<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.error_notification %>

  <% if @dose.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @dose.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :description %>
    <%= f.input :ingredient_id, :collection => @ingredients %>
    <%= f.hidden_field :cocktail_id, :value => @cocktail.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>

